# CONFIGURATION DU SERVEUR
PORT=3000

# Clé secrète pour signer les JWT (Authentication)
JWT_SECRET=e734b7e21458a8d80447e9ee61a2e78e

# BASE DE DONNEES (MySQL / MariaDB)
DB_HOST=db
DB_NAME=steam_reco_app
DB_USER=steam_reco_app
DB_PASSWORD=password1234
DB_PORT=3306

# URL de l'API de recommandation (Python) / API_KEY
API_RECOMMENDATION=http://api_recommendation:8000
API_KEY_RECOMMENDATION=my_super_secure_reco_key_12345

