PORT=3000

JWT_SECRET=e734b7e21458a8d80447e9ee61a2e78e

DB_HOST=db
DB_NAME=steam_reco_app
DB_USER=steam_reco_app
DB_PASSWORD=password1234
DB_PORT=3306

API_RECOMMENDATION=http://api_recommendation:8000
